<div id="nav">
<<<<<<< HEAD
  <a href="/">Home</a>
=======
  <a href="">Home</a>
>>>>>>> origin
  {{#if loggedIn}}
    <a id="logout" href="">Logout</a>
  {{else}}
    <a id="login" href="/login">Login</a>
  {{/if}}
</div>