<div class="container">
  <h1>Login</h1>
</div>

<div class="container login-form gray-section">
  <form>
    <div class="mb-3">
      <label for="email-login" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <script src="/js/login.js"></script>

</div>