{{!-- Our homepage to reneder all the movies preview --}}
<div class="container text-center">
  <h1>Movies</h1>
{{> navlinks}}
</div>

<div class="container gray-section">
  {{!-- Use each function to render each movie data --}}
  
    <div class="row text-center pt-4">
      <div>
        {{#each movies as |movie|}}
        <a href="/movie/{{movie.id}}" class="btn btn-primary">
        <img
          class="card-img-top col-2"
          src="{{movie.imageURL}}"
          alt="{{movie.title}} picture"
        />
        </a>
        {{/each}}
      </div>
    </div>
  
</div>
