<div class="container">
<h1>Review Flix</h1>
</div>
{{> navlinks.handlebars}}

<div class="container gray-section">
    <div id="poster-container">
        {{!-- TODO: ADD MOVIE POSTER BELOW --}}
        <img src="" alt="">
    </div>
    <div class="container row">
        <div class="col-4">
            {{!-- TODO: USER COLUMN --}}
        </div>
        <div class="col-4">
            {{!-- TODO: REVIEW COLUMN --}}
        </div>
        <div class="col-4">
            {{!-- TODO: RATING COLUMN --}}
        </div>
    </div>
</div>


